<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344969159707-slhvak4rlhgiqk3q1qptg6mrhvkhhni3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344969159707-slhvak4rlhgiqk3q1qptg6mrhvkhhni3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344969159707-g967g30ie1np2mr5el927hhmqm15jbod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAySqQBUFrFl4KEJkQkuRvii98oMwe0pDg</string>
	<key>GCM_SENDER_ID</key>
	<string>344969159707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.fyp.edudrive</string>
	<key>PROJECT_ID</key>
	<string>edupedo-90a14</string>
	<key>STORAGE_BUCKET</key>
	<string>edupedo-90a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344969159707:ios:18ccdbb04e1dc5b18744be</string>
</dict>
</plist>